#############################################################################
# This is a template file for .env file
#
# Since .env file contains sensitive credentials, setting, it will not be commited
# to the repository. You will have to create a .env file by yourself
#
# Create a .env file at the same level as this file and copy the content of this file, 
# then replace the username, password or any other values with your own
################################################################################

PORT=3000

# Database version
DB_VERSION=17.4
PGADMIN_VERSION=REL-9_0

# PostgreSQL Credentials
POSTGRES_VERSION=17.4
PG_USER=admin
PG_HOST=localhost
PG_PASSWORD=password
PG_DATABASE=stock_market_db
PG_PORT=5432

# pgAdmin Credentials
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PG_ADMIN_PORT=5050


# JWT Configuration
JWT_SECRET=secret_key





