@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

#holdings-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Softer border color */
    font-family: 'Roboto Flex', sans-serif; /* Use the imported font */
    font-size: 14px; /* Slightly smaller font for a cleaner look */
    margin-top: 15px; /* Add spacing above the table */
    background-color: #f9f9f9; /* Light background for the table */
}

#holdings-table th {
    background-color: #4CAF50; /* Green header background */
    color: rgb(39, 25, 25); 
    padding: 10px; /* Add padding for better spacing */
    border: 1px solid #ddd; /* Border for header cells */
}


.even-collumn{
    background-color: rgb(207, 203, 203);
}

.block {
    width: 150px;
    display:inline-block;
}

.white-container {
    background: white; 
    color:black;
    padding: 15px;
    height: 100%;
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.green{
    color: rgb(87, 117, 41);
}

.red {
    color: rgb(211, 85, 85);
}

.big-number{
    font-size: 40px;
    font-weight: bold;
}

.big-number2{
    font-size: 32px;
    font-weight: bold;
}

.big-number3{
    font-size: 20px;
}

.topnav {
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid black;
}

.topnav a{
    float: left;
    padding: 0px 15px 0px 15px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    height: 17px;

}

.topnav a:hover {
    border-bottom: 2px solid green;
    color: green;
  }
  
.topnav a.active {
    background-color: green;
    color: black;
}

.topnav > div.market {
    background-color: #e0f1ef;
    color: black;
    height: 17px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.smaller-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "left right"
    "left right";
    column-gap: 30px;
    row-gap: 30px;
}

.smaller-grid > div.left {
    grid-area: left;
    margin-bottom: 15px;
}

.smaller-grid > div.right {
    grid-area: right;
    margin-bottom: 15px;
}


.grid-container {
    margin-top: 50px;
    display: grid;
    column-gap: 30px;
    row-gap: 15px;
    font-family: 'Roboto Flex', cursive;

    font-size: 13px;

    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "overview game-info"
    "holdings holdings";
    align-items: stretch;
}
.grid-container > div.overview {
    grid-area: overview;
    height: 100%;
}
.grid-container > div.game-info {
    height: 100%;
    grid-area: game-info;
}
.grid-container > div.holdings {
    grid-area: holdings;
}

.portfolio-content {
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
}